# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.iml

# Editor backups
*~
*.bak
*.swp

# Minecraft
crash-reports/
logs/

# Build artifacts
*.zip
dist/
build/

# Discord Bot
discord_bot/node_modules/
discord_bot/.env
